@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
        Examine the Views\_ViewStart.cshtml file, it contains the exact same Razor markup.
        The Views\_ViewStart.cshtml file defines the common layout that all views will use,
        therefore you can comment out
*@

@{
    ViewBag.Title = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>


